@using Orchard.ContentManagement
@using CSM.WebApi.Models

@{
    var shapes = Model.BuildShapes;
}

<p>The City of Santa Monica is providing this API free of charge, for both commercial and private use.</p>

<h2>Using the API</h2>

<p>All requests must be made over HTTPS to the <code>parking.api.smgov.net</code> domain.</p>
<p><a href="http://en.wikipedia.org/wiki/Cross-origin_resource_sharing" target="_blank">CORS</a> is supported for all GET requests, from any origin.</p>
<p>Include an <code>Accept</code> header in the request to specify the response format. The supported formats are <code>application/json</code> and <code>text/xml</code> (the default).</p>
<p>If you have problems or questions about using the API, please <a href="https://github.com/CityofSantaMonica/Orchard.ParkingData/issues" target="_blank">Submit an issue</a> on our GitHub repository.</p>

<h2>The Data</h2>

@foreach (var shape in shapes())
{
    @Display(shape)
}
