<div class="panel panel-default ">
    <div class="panel-heading" id="@Model.ViewModel.Title">
        <code>@Model.ViewModel.Heading</code>
    </div>
    <div class="panel-body">
        @Model.Metadata.ChildContent
    </div>
</div>
